In [21]:
## data coollection
import pandas_datareader as pdr
import pandas_datareader.data as web
import os 
import pandas as pd

In [11]:
key = "9c61dd5e6a29f5480b574391a70e26101906fbea"

In [27]:
## tiingo is tracing platform that provides a data api with historical end of the day prices on equities, mutual_funds  and etfs
df = pdr.get_data_tiingo("GOOG", api_key = key)

In [28]:

df.columns

Index(['close', 'high', 'low', 'open', 'volume', 'adjClose', 'adjHigh',
       'adjLow', 'adjOpen', 'adjVolume', 'divCash', 'splitFactor'],
      dtype='object')

In [39]:
df

                                    close      high      low     open  \
symbol date
GOOG   2015-06-23 00:00:00+00:00   540.48   541.499   535.25   539.64
       2015-06-24 00:00:00+00:00   537.84   540.000   535.66   540.00
       2015-06-25 00:00:00+00:00   535.23   540.900   535.23   538.87
       2015-06-26 00:00:00+00:00   531.69   537.760   531.35   537.26
       2015-06-29 00:00:00+00:00   521.52   528.610   520.54   525.01
...                                   ...       ...      ...      ...
       2020-06-15 00:00:00+00:00  1419.85  1424.800  1387.92  1390.80
       2020-06-16 00:00:00+00:00  1442.72  1455.020  1425.90  1445.22
       2020-06-17 00:00:00+00:00  1451.12  1460.000  1431.38  1447.16
       2020-06-18 00:00:00+00:00  1435.96  1451.410  1427.01  1449.16
       2020-06-19 00:00:00+00:00  1431.72  1447.800  1421.35  1444.00

                                   volume  adjClose   adjHigh   adjLow  \
symbol date
GOOG   2015-06-23 00:00:00+00:00  1197450    540.48   541.499   535.25
       2015-06-24 00:00:00+00:00  1286608    537.84   540.000   535.66
       2015-06-25 00:00:00+00:00  1335697    535.23   540.900   535.23
       2015-06-26 00:00:00+00:00  2109130    531.69   537.760   531.35
       2015-06-29 00:00:00+00:00  1937821    521.52   528.610   520.54
...                                   ...       ...       ...      ...
       2020-06-15 00:00:00+00:00  1506096   1419.85  1424.800  1387.92
       2020-06-16 00:00:00+00:00  1711614   1442.72  1455.020  1425.90
       2020-06-17 00:00:00+00:00  1549615   1451.12  1460.000  1431.38
       2020-06-18 00:00:00+00:00  1581916   1435.96  1451.410  1427.01
       2020-06-19 00:00:00+00:00  3157875   1431.72  1447.800  1421.35

                                  adjOpen  adjVolume  divCash  splitFactor
symbol date
GOOG   2015-06-23 00:00:00+00:00   539.64    1197450      0.0          1.0
       2015-06-24 00:00:00+00:00   540.00    1286608      0.0          1.0
       2015-06-25 00:00:00+00:00   538.87    1335697      0.0          1.0
       2015-06-26 00:00:00+00:00   537.26    2109130      0.0          1.0
       2015-06-29 00:00:00+00:00   525.01    1937821      0.0          1.0
...                                   ...        ...      ...          ...
       2020-06-15 00:00:00+00:00  1390.80    1506096      0.0          1.0
       2020-06-16 00:00:00+00:00  1445.22    1711614      0.0          1.0
       2020-06-17 00:00:00+00:00  1447.16    1549615      0.0          1.0
       2020-06-18 00:00:00+00:00  1449.16    1581916      0.0          1.0
       2020-06-19 00:00:00+00:00  1444.00    3157875      0.0          1.0

[1258 rows x 12 columns]

In [37]:
df.to_csv("GOOG.csv")